<settings>
    <servers>
        <server>
            <id>sonatype-nexus-staging</id>
            <username>amazonwebservices</username>
            <password>$SONATYPE_PASSWORD</password>
        </server>
        <server>
            <id>amazon-shared</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>publishing</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>$SDK_SIGNING_GPG_KEYNAME</gpg.keyname>
                <gpg.passphrase>$SDK_SIGNING_GPG_PASSPHRASE</gpg.passphrase>
            </properties>
        </profile>
        <profile>
            <id>amazon-shared</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>amazon-shared</id>
                    <url>https://amazon-149122183214.d.codeartifact.us-west-2.amazonaws.com/maven/shared/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
