{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-04-20",
    "asyncClient" : "AmazonChimeSDKIdentityAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeSDKIdentityAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeSDKIdentityAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonChimeSDKIdentityModuleInjector",
    "defaultEndpoint" : "identity-chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "identity-chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime SDK Identity APIs in this section allow software developers to create and manage unique instances of their messaging applications. These APIs provide the overarching framework for creating and sending messages. For more information about the identity APIs, refer to .</p>",
    "endpointPrefix" : "identity-chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chimesdkidentity",
    "packagePath" : "com/amazonaws/services/chimesdkidentity",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime SDK Identity",
    "serviceId" : "Chime SDK Identity",
    "serviceName" : "Amazon Chime SDK Identity",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chimesdkidentity.smoketests",
    "syncClient" : "AmazonChimeSDKIdentityClient",
    "syncClientBuilderClassName" : "AmazonChimeSDKIdentityClientBuilder",
    "syncInterface" : "AmazonChimeSDKIdentity",
    "uid" : "chime-sdk-identity-2021-04-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAppInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppInstanceRequest, CreateAppInstanceResult>",
      "asyncReturnType" : "CreateAppInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Chime SDK messaging <code>AppInstance</code> under an AWS account. Only SDK messaging customers use this API. <code>CreateAppInstance</code> supports idempotency behavior as described in the AWS API Standard.</p> <p>identity</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppInstanceRequest",
        "variableName" : "createAppInstanceRequest",
        "variableType" : "CreateAppInstanceRequest",
        "documentation" : "",
        "simpleType" : "CreateAppInstanceRequest",
        "variableSetterType" : "CreateAppInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppInstance",
      "operationName" : "CreateAppInstance",
      "returnType" : {
        "returnType" : "CreateAppInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppInstanceResult"
    },
    "CreateAppInstanceAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppInstanceAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppInstanceAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppInstanceAdminRequest, CreateAppInstanceAdminResult>",
      "asyncReturnType" : "CreateAppInstanceAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Promotes an <code>AppInstanceUser</code> to an <code>AppInstanceAdmin</code>. The promoted user can perform the following actions. </p> <ul> <li> <p> <code>ChannelModerator</code> actions across all channels in the <code>AppInstance</code>.</p> </li> <li> <p> <code>DeleteChannelMessage</code> actions.</p> </li> </ul> <p>Only an <code>AppInstanceUser</code> can be promoted to an <code>AppInstanceAdmin</code> role.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppInstanceAdminRequest",
        "variableName" : "createAppInstanceAdminRequest",
        "variableType" : "CreateAppInstanceAdminRequest",
        "documentation" : "",
        "simpleType" : "CreateAppInstanceAdminRequest",
        "variableSetterType" : "CreateAppInstanceAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppInstanceAdmin",
      "operationName" : "CreateAppInstanceAdmin",
      "returnType" : {
        "returnType" : "CreateAppInstanceAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppInstanceAdminResult"
    },
    "CreateAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppInstanceUserRequest, CreateAppInstanceUserResult>",
      "asyncReturnType" : "CreateAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user under an Amazon Chime <code>AppInstance</code>. The request consists of a unique <code>appInstanceUserId</code> and <code>Name</code> for that user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppInstanceUserRequest",
        "variableName" : "createAppInstanceUserRequest",
        "variableType" : "CreateAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "CreateAppInstanceUserRequest",
        "variableSetterType" : "CreateAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppInstanceUser",
      "operationName" : "CreateAppInstanceUser",
      "returnType" : {
        "returnType" : "CreateAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppInstanceUserResult"
    },
    "DeleteAppInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppInstanceRequest, DeleteAppInstanceResult>",
      "asyncReturnType" : "DeleteAppInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an <code>AppInstance</code> and all associated data asynchronously.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppInstanceRequest",
        "variableName" : "deleteAppInstanceRequest",
        "variableType" : "DeleteAppInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppInstanceRequest",
        "variableSetterType" : "DeleteAppInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppInstance",
      "operationName" : "DeleteAppInstance",
      "returnType" : {
        "returnType" : "DeleteAppInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppInstanceResult"
    },
    "DeleteAppInstanceAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppInstanceAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppInstanceAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppInstanceAdminRequest, DeleteAppInstanceAdminResult>",
      "asyncReturnType" : "DeleteAppInstanceAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Demotes an <code>AppInstanceAdmin</code> to an <code>AppInstanceUser</code>. This action does not delete the user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppInstanceAdminRequest",
        "variableName" : "deleteAppInstanceAdminRequest",
        "variableType" : "DeleteAppInstanceAdminRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppInstanceAdminRequest",
        "variableSetterType" : "DeleteAppInstanceAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppInstanceAdmin",
      "operationName" : "DeleteAppInstanceAdmin",
      "returnType" : {
        "returnType" : "DeleteAppInstanceAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppInstanceAdminResult"
    },
    "DeleteAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppInstanceUserRequest, DeleteAppInstanceUserResult>",
      "asyncReturnType" : "DeleteAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an <code>AppInstanceUser</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppInstanceUserRequest",
        "variableName" : "deleteAppInstanceUserRequest",
        "variableType" : "DeleteAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppInstanceUserRequest",
        "variableSetterType" : "DeleteAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppInstanceUser",
      "operationName" : "DeleteAppInstanceUser",
      "returnType" : {
        "returnType" : "DeleteAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppInstanceUserResult"
    },
    "DescribeAppInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppInstanceRequest, DescribeAppInstanceResult>",
      "asyncReturnType" : "DescribeAppInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of an <code>AppInstance</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppInstanceRequest",
        "variableName" : "describeAppInstanceRequest",
        "variableType" : "DescribeAppInstanceRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppInstanceRequest",
        "variableSetterType" : "DescribeAppInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppInstance",
      "operationName" : "DescribeAppInstance",
      "returnType" : {
        "returnType" : "DescribeAppInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppInstanceResult"
    },
    "DescribeAppInstanceAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppInstanceAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppInstanceAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppInstanceAdminRequest, DescribeAppInstanceAdminResult>",
      "asyncReturnType" : "DescribeAppInstanceAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of an <code>AppInstanceAdmin</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppInstanceAdminRequest",
        "variableName" : "describeAppInstanceAdminRequest",
        "variableType" : "DescribeAppInstanceAdminRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppInstanceAdminRequest",
        "variableSetterType" : "DescribeAppInstanceAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppInstanceAdmin",
      "operationName" : "DescribeAppInstanceAdmin",
      "returnType" : {
        "returnType" : "DescribeAppInstanceAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppInstanceAdminResult"
    },
    "DescribeAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppInstanceUserRequest, DescribeAppInstanceUserResult>",
      "asyncReturnType" : "DescribeAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the full details of an <code>AppInstanceUser</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppInstanceUserRequest",
        "variableName" : "describeAppInstanceUserRequest",
        "variableType" : "DescribeAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppInstanceUserRequest",
        "variableSetterType" : "DescribeAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppInstanceUser",
      "operationName" : "DescribeAppInstanceUser",
      "returnType" : {
        "returnType" : "DescribeAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppInstanceUserResult"
    },
    "GetAppInstanceRetentionSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppInstanceRetentionSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppInstanceRetentionSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppInstanceRetentionSettingsRequest, GetAppInstanceRetentionSettingsResult>",
      "asyncReturnType" : "GetAppInstanceRetentionSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the retention settings for an <code>AppInstance</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppInstanceRetentionSettingsRequest",
        "variableName" : "getAppInstanceRetentionSettingsRequest",
        "variableType" : "GetAppInstanceRetentionSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetAppInstanceRetentionSettingsRequest",
        "variableSetterType" : "GetAppInstanceRetentionSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppInstanceRetentionSettings",
      "operationName" : "GetAppInstanceRetentionSettings",
      "returnType" : {
        "returnType" : "GetAppInstanceRetentionSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppInstanceRetentionSettingsResult"
    },
    "ListAppInstanceAdmins" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppInstanceAdminsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppInstanceAdminsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppInstanceAdminsRequest, ListAppInstanceAdminsResult>",
      "asyncReturnType" : "ListAppInstanceAdminsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the administrators in the <code>AppInstance</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppInstanceAdminsRequest",
        "variableName" : "listAppInstanceAdminsRequest",
        "variableType" : "ListAppInstanceAdminsRequest",
        "documentation" : "",
        "simpleType" : "ListAppInstanceAdminsRequest",
        "variableSetterType" : "ListAppInstanceAdminsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppInstanceAdmins",
      "operationName" : "ListAppInstanceAdmins",
      "returnType" : {
        "returnType" : "ListAppInstanceAdminsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppInstanceAdminsResult"
    },
    "ListAppInstanceUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppInstanceUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppInstanceUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppInstanceUsersRequest, ListAppInstanceUsersResult>",
      "asyncReturnType" : "ListAppInstanceUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all <code>AppInstanceUsers</code> created under a single <code>AppInstance</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppInstanceUsersRequest",
        "variableName" : "listAppInstanceUsersRequest",
        "variableType" : "ListAppInstanceUsersRequest",
        "documentation" : "",
        "simpleType" : "ListAppInstanceUsersRequest",
        "variableSetterType" : "ListAppInstanceUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppInstanceUsers",
      "operationName" : "ListAppInstanceUsers",
      "returnType" : {
        "returnType" : "ListAppInstanceUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppInstanceUsersResult"
    },
    "ListAppInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppInstancesRequest, ListAppInstancesResult>",
      "asyncReturnType" : "ListAppInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Amazon Chime <code>AppInstance</code>s created under a single AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppInstancesRequest",
        "variableName" : "listAppInstancesRequest",
        "variableType" : "ListAppInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListAppInstancesRequest",
        "variableSetterType" : "ListAppInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppInstances",
      "operationName" : "ListAppInstances",
      "returnType" : {
        "returnType" : "ListAppInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppInstancesResult"
    },
    "PutAppInstanceRetentionSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAppInstanceRetentionSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAppInstanceRetentionSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAppInstanceRetentionSettingsRequest, PutAppInstanceRetentionSettingsResult>",
      "asyncReturnType" : "PutAppInstanceRetentionSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the amount of time in days that a given <code>AppInstance</code> retains data.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAppInstanceRetentionSettingsRequest",
        "variableName" : "putAppInstanceRetentionSettingsRequest",
        "variableType" : "PutAppInstanceRetentionSettingsRequest",
        "documentation" : "",
        "simpleType" : "PutAppInstanceRetentionSettingsRequest",
        "variableSetterType" : "PutAppInstanceRetentionSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAppInstanceRetentionSettings",
      "operationName" : "PutAppInstanceRetentionSettings",
      "returnType" : {
        "returnType" : "PutAppInstanceRetentionSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAppInstanceRetentionSettingsResult"
    },
    "UpdateAppInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppInstanceRequest, UpdateAppInstanceResult>",
      "asyncReturnType" : "UpdateAppInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates <code>AppInstance</code> metadata.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppInstanceRequest",
        "variableName" : "updateAppInstanceRequest",
        "variableType" : "UpdateAppInstanceRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppInstanceRequest",
        "variableSetterType" : "UpdateAppInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAppInstance",
      "operationName" : "UpdateAppInstance",
      "returnType" : {
        "returnType" : "UpdateAppInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppInstanceResult"
    },
    "UpdateAppInstanceUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppInstanceUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppInstanceUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppInstanceUserRequest, UpdateAppInstanceUserResult>",
      "asyncReturnType" : "UpdateAppInstanceUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the details of an <code>AppInstanceUser</code>. You can update names and metadata.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppInstanceUserRequest",
        "variableName" : "updateAppInstanceUserRequest",
        "variableType" : "UpdateAppInstanceUserRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppInstanceUserRequest",
        "variableSetterType" : "UpdateAppInstanceUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAppInstanceUser",
      "operationName" : "UpdateAppInstanceUser",
      "returnType" : {
        "returnType" : "UpdateAppInstanceUserResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppInstanceUserResult"
    }
  },
  "shapes" : {
    "AppInstance" : {
      "c2jName" : "AppInstance",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The details of an <code>AppInstance</code>, an instance of an Amazon Chime SDK messaging application.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkidentity.model.AppInstance",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AppInstanceArn",
        "c2jShape" : "ChimeArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the messaging instance.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@param appInstanceArn The ARN of the messaging instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppInstanceArn",
        "getterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@return The ARN of the messaging instance.*/",
        "getterMethodName" : "getAppInstanceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AppInstanceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AppInstanceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppInstanceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@param appInstanceArn The ARN of the messaging instance.*/",
        "setterMethodName" : "setAppInstanceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appInstanceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@param appInstanceArn The ARN of the messaging instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appInstanceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the messaging instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "NonEmptyResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name of an <code>AppInstance</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@param name The name of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@return The name of an <code>AppInstance</code>.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@param name The name of an <code>AppInstance</code>.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@param name The name of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of an <code>AppInstance</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedTimestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@param createdTimestamp The time at which an <code>AppInstance</code> was created. In epoch milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedTimestamp",
        "getterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@return The time at which an <code>AppInstance</code> was created. In epoch milliseconds.*/",
        "getterMethodName" : "getCreatedTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedTimestamp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@param createdTimestamp The time at which an <code>AppInstance</code> was created. In epoch milliseconds.*/",
        "setterMethodName" : "setCreatedTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@param createdTimestamp The time at which an <code>AppInstance</code> was created. In epoch milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastUpdatedTimestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>\n@param lastUpdatedTimestamp The time an <code>AppInstance</code> was last updated. In epoch milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdatedTimestamp",
        "getterDocumentation" : "/**<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>\n@return The time an <code>AppInstance</code> was last updated. In epoch milliseconds.*/",
        "getterMethodName" : "getLastUpdatedTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastUpdatedTimestamp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastUpdatedTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdatedTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>\n@param lastUpdatedTimestamp The time an <code>AppInstance</code> was last updated. In epoch milliseconds.*/",
        "setterMethodName" : "setLastUpdatedTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>\n@param lastUpdatedTimestamp The time an <code>AppInstance</code> was last updated. In epoch milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Metadata",
        "c2jShape" : "Metadata",
        "deprecated" : false,
        "documentation" : "<p>The metadata of an <code>AppInstance</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The metadata of an <code>AppInstance</code>.</p>\n@param metadata The metadata of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMetadata",
        "getterDocumentation" : "/**<p>The metadata of an <code>AppInstance</code>.</p>\n@return The metadata of an <code>AppInstance</code>.*/",
        "getterMethodName" : "getMetadata",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Metadata",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Metadata",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Metadata",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The metadata of an <code>AppInstance</code>.</p>\n@param metadata The metadata of an <code>AppInstance</code>.*/",
        "setterMethodName" : "setMetadata",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "metadata",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The metadata of an <code>AppInstance</code>.</p>\n@param metadata The metadata of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "metadata",
          "variableType" : "String",
          "documentation" : "<p>The metadata of an <code>AppInstance</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AppInstanceArn" : {
          "c2jName" : "AppInstanceArn",
          "c2jShape" : "ChimeArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the messaging instance.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@param appInstanceArn The ARN of the messaging instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAppInstanceArn",
          "getterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@return The ARN of the messaging instance.*/",
          "getterMethodName" : "getAppInstanceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AppInstanceArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AppInstanceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AppInstanceArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@param appInstanceArn The ARN of the messaging instance.*/",
          "setterMethodName" : "setAppInstanceArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appInstanceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the messaging instance.</p>\n@param appInstanceArn The ARN of the messaging instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appInstanceArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the messaging instance.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CreatedTimestamp" : {
          "c2jName" : "CreatedTimestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@param createdTimestamp The time at which an <code>AppInstance</code> was created. In epoch milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedTimestamp",
          "getterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@return The time at which an <code>AppInstance</code> was created. In epoch milliseconds.*/",
          "getterMethodName" : "getCreatedTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CreatedTimestamp",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreatedTimestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedTimestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@param createdTimestamp The time at which an <code>AppInstance</code> was created. In epoch milliseconds.*/",
          "setterMethodName" : "setCreatedTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>\n@param createdTimestamp The time at which an <code>AppInstance</code> was created. In epoch milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "LastUpdatedTimestamp" : {
          "c2jName" : "LastUpdatedTimestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>\n@param lastUpdatedTimestamp The time an <code>AppInstance</code> was last updated. In epoch milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastUpdatedTimestamp",
          "getterDocumentation" : "/**<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>\n@return The time an <code>AppInstance</code> was last updated. In epoch milliseconds.*/",
          "getterMethodName" : "getLastUpdatedTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LastUpdatedTimestamp",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LastUpdatedTimestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastUpdatedTimestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>\n@param lastUpdatedTimestamp The time an <code>AppInstance</code> was last updated. In epoch milliseconds.*/",
          "setterMethodName" : "setLastUpdatedTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdatedTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>\n@param lastUpdatedTimestamp The time an <code>AppInstance</code> was last updated. In epoch milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdatedTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Metadata" : {
          "c2jName" : "Metadata",
          "c2jShape" : "Metadata",
          "deprecated" : false,
          "documentation" : "<p>The metadata of an <code>AppInstance</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The metadata of an <code>AppInstance</code>.</p>\n@param metadata The metadata of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMetadata",
          "getterDocumentation" : "/**<p>The metadata of an <code>AppInstance</code>.</p>\n@return The metadata of an <code>AppInstance</code>.*/",
          "getterMethodName" : "getMetadata",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Metadata",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Metadata",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Metadata",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The metadata of an <code>AppInstance</code>.</p>\n@param metadata The metadata of an <code>AppInstance</code>.*/",
          "setterMethodName" : "setMetadata",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "metadata",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The metadata of an <code>AppInstance</code>.</p>\n@param metadata The metadata of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "metadata",
            "variableType" : "String",
            "documentation" : "<p>The metadata of an <code>AppInstance</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "NonEmptyResourceName",
          "deprecated" : false,
          "documentation" : "<p>The name of an <code>AppInstance</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@param name The name of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@return The name of an <code>AppInstance</code>.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@param name The name of an <code>AppInstance</code>.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of an <code>AppInstance</code>.</p>\n@param name The name of an <code>AppInstance</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of an <code>AppInstance</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkidentity.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppInstance",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppInstance",
        "variableName" : "appInstance",
        "variableType" : "AppInstance",
        "documentation" : null,
        "simpleType" : "AppInstance",
        "variableSetterType" : "AppInstance"
      },
      "wrapper" : false
    },
    "AppInstanceAdmin" : {
      "c2jName" : "AppInstanceAdmin",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The details of an <code>AppInstanceAdmin</code>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkidentity.model.AppInstanceAdmin",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Admin",
        "c2jShape" : "Identity",
        "deprecated" : false,
        "documentation" : "<p>The <code>AppInstanceAdmin</code> data.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <code>AppInstanceAdmin</code> data.</p>\n@param admin The <code>AppInstanceAdmin</code> data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAdmin",
        "getterDocumentation" : "/**<p>The <code>AppInstanceAdmin</code> data.</p>\n@return The <code>AppInstanceAdmin</code> data.*/",
        "getterMethodName" : "getAdmin",
        "getterModel" : {
          "returnType" : "Identity",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Admin",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Admin",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Admin",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The <code>AppInstanceAdmin</code> data.</p>\n@param admin The <code>AppInstanceAdmin</code> data.*/",
        "setterMethodName" : "setAdmin",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Identity",
          "variableName" : "admin",
          "variableType" : "Identity",
          "documentation" : "",
          "simpleType" : "Identity",
          "variableSetterType" : "Identity"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <code>AppInstanceAdmin</code> data.</p>\n@param admin The <code>AppInstanceAdmin</code> data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Identity",
          "variableName" : "admin",
          "variableType" : "Identity",
          "documentation" : "<p>The <code>AppInstanceAdmin</code> data.</p>",
          "simpleType" : "Identity",
          "variableSetterType" : "Identity"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AppInstanceArn",
        "c2jShape" : "ChimeArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>\n@param appInstanceArn The ARN of the <code>AppInstance</code> for which the user is an administrator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppInstanceArn",
        "getterDocumentation" : "/**<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>\n@return The ARN of the <code>AppInstance</code> for which the user is an administrator.*/",
        "getterMethodName" : "getAppInstanceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AppInstanceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AppInstanceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppInstanceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>\n@param appInstanceArn The ARN of the <code>AppInstance</code> for which the user is an administrator.*/",
        "setterMethodName" : "setAppInstanceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appInstanceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>\n@param appInstanceArn The ARN of the <code>AppInstance</code> for which the user is an administrator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appInstanceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedTimestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time at which an administrator was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which an administrator was created.</p>\n@param createdTimestamp The time at which an administrator was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedTimestamp",
        "getterDocumentation" : "/**<p>The time at which an administrator was created.</p>\n@return The time at which an administrator was created.*/",
        "getterMethodName" : "getCreatedTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedTimestamp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time at which an administrator was created.</p>\n@param createdTimestamp The time at which an administrator was created.*/",
        "setterMethodName" : "setCreatedTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time at which an administrator was created.</p>\n@param createdTimestamp The time at which an administrator was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time at which an administrator was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Admin" : {
          "c2jName" : "Admin",
          "c2jShape" : "Identity",
          "deprecated" : false,
          "documentation" : "<p>The <code>AppInstanceAdmin</code> data.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <code>AppInstanceAdmin</code> data.</p>\n@param admin The <code>AppInstanceAdmin</code> data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAdmin",
          "getterDocumentation" : "/**<p>The <code>AppInstanceAdmin</code> data.</p>\n@return The <code>AppInstanceAdmin</code> data.*/",
          "getterMethodName" : "getAdmin",
          "getterModel" : {
            "returnType" : "Identity",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Admin",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Admin",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Admin",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The <code>AppInstanceAdmin</code> data.</p>\n@param admin The <code>AppInstanceAdmin</code> data.*/",
          "setterMethodName" : "setAdmin",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Identity",
            "variableName" : "admin",
            "variableType" : "Identity",
            "documentation" : "",
            "simpleType" : "Identity",
            "variableSetterType" : "Identity"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The <code>AppInstanceAdmin</code> data.</p>\n@param admin The <code>AppInstanceAdmin</code> data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Identity",
            "variableName" : "admin",
            "variableType" : "Identity",
            "documentation" : "<p>The <code>AppInstanceAdmin</code> data.</p>",
            "simpleType" : "Identity",
            "variableSetterType" : "Identity"
          },
          "xmlNameSpaceUri" : null
        },
        "AppInstanceArn" : {
          "c2jName" : "AppInstanceArn",
          "c2jShape" : "ChimeArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>\n@param appInstanceArn The ARN of the <code>AppInstance</code> for which the user is an administrator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAppInstanceArn",
          "getterDocumentation" : "/**<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>\n@return The ARN of the <code>AppInstance</code> for which the user is an administrator.*/",
          "getterMethodName" : "getAppInstanceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AppInstanceArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AppInstanceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AppInstanceArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>\n@param appInstanceArn The ARN of the <code>AppInstance</code> for which the user is an administrator.*/",
          "setterMethodName" : "setAppInstanceArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appInstanceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
[...]
